<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Ethermass" %></h1>
  <p>Seize the decentralized world. One batch transaction at a time.</p>
</section>

<section class="row">
  
</section>
