<h1>New Transaction Batch Mass Minting</h1>

<%= render "form_mass_minting.html", Map.put(assigns, :action, Routes.transaction_batch_path(@conn, :create_mass_minting)) %>

<span><%= link "Back", to: Routes.transaction_batch_path(@conn, :index) %></span>
