<h1>New Smart contract</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.smart_contract_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.smart_contract_path(@conn, :index) %></span>
