<h1>New Address</h1>

<%= render "batch_import_form.html", Map.put(assigns, :action, Routes.address_path(@conn, :batch_import_post)) %>

<span><%= link "Back", to: Routes.address_path(@conn, :index) %></span>
