<h1>New Address</h1>

<%= render "generate_form.html", Map.put(assigns, :action, Routes.address_path(@conn, :generate_post)) %>

<span><%= link "Back", to: Routes.address_path(@conn, :index) %></span>
