<h1>New Market maker</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.market_maker_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.market_maker_path(@conn, :index) %></span>
